
<!doctype html>
<html>
<head>
    <title>HashPower Converter</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
</head>

<body>
<div>
    <h2>{{pageTitle}}</h2>
    <p>{{welcome}}</p>
   
    <a href="/calc">Calc</a>
    
</div>
<footer>
    <p>Copyright {{currentYear}}</p>
</footer>
</body>
</html>
